body {
  font-family: sans-serif;
}

.app {
  display: flex;
  justify-content: center;
}

.app main {
  width: 100%;
  max-width: 500px;
}

.app-title {
  color: rgb(68, 68, 192);
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.task-item {
  padding: 1rem;
  background-color: rgb(156, 156, 238);
  border-radius: 0.5rem;
}
